/* start common css */

@import url('/font/sushreeFont.css');

body {
    background: rgb(206, 255, 249);
    background: linear-gradient(90deg, rgb(255 251 206) 0%, rgb(241 255 233) 48%, rgb(250 252 229) 100%);
}

.shusree-font {
    font-family: 'shusree', Arial, sans-serif !important;
}

.safeArea {
    max-width: 1300px;
    margin: auto;
}

.overflowhidden {
    overflow: hidden;
}

.ashcolor {
    background: #F3F4F8;
}

.clearboth {
    clear: both;
}

a:hover {
    color: #54BFB9 !important;
    text-decoration: none;
}

a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

/* end common css */

/* Header */
.wrap {
    display: inline-block;
}

.top-header {
    display: block;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.top-bar {
    margin: 0;
    padding: 5px 0;
}

.topaddress {
    height: 9px;
}

.topaddress li {
    list-style: none;
    display: inline-block;
}

.topaddress li a {
    color: #000;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    float: left;
    text-decoration: none;
}

.right-top-bar {
    float: right;
    margin: 0;
}

.top-menu {}

.top-menu li {
    display: inline-block;
}

.top-menu li a {
    display: block;
    font-size: 12px;
    line-height: 30px;
    padding: 0 8px;
    text-align: left;
    color: #333;
}

.top-bar-menu {}

.top-menu-toggle {
    display: none;
}

.sitebranding {
    display: block;
}

.logo-area {
    display: inline-block;
    padding: 10px 0;
    float: left;
    width: 320px;
}

.logo-area img {
    width: 91%;
}

.main-logo {
    width: 100px;
    display: inline-block;
    overflow: hidden;
}

.main-logo img {
    width: 100%;
    overflow: hidden;
}

.sitetitleslogan {
    display: inline-block;
    overflow: hidden;
}

.sitetitle {
    display: inline-block;
    font-size: 28px;
}

.siteslogan {
    display: inline-block;
    font-size: 11px;
}

.search-product {
    display: inline-block;
}

.search-product input {
    padding: 9px 14px;
    border: 2px solid #1dc1b1;
    border-radius: 5px 0 0 5px;
}

.search-product button {
    padding: 11px 29px;
    color: white;
    background: #1dc1b1;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
}

.wishList {
    display: inline-block;
    font-size: 25px;
    position: relative;
    margin-right: 12px;
    color: #333;
    cursor: pointer;
}

.wishList span {

    font-size: 10px;

    background: #1dc1b1;

    border-radius: 50px;

    width: 15px;

    height: 15px;

    padding: 0px 4px;

    position: absolute;

    color: white;

    top: -4px;

    right: -12px;
}

.cart {
    font-size: 28px;
    display: inline-block;
    margin-right: 13px;
    position: relative;
    color: #333;
    cursor: pointer;
}

.cart span {

    font-size: 10px;

    background: #1dc1b1;

    border-radius: 50px;

    width: 15px;

    height: 15px;

    padding: 0px 4px;

    position: absolute;

    color: white;

    top: -4px;

    right: -12px;
}

.totalamount {
    display: inline-block;
}

.totalamounttext {

    font-size: 14px;

    display: block;

    margin-bottom: -8px;
}

.totalamountvalue {

    font-size: 12px;
}

/* end header section */
/* =========================================== */
/* start main navigation section */

.mainNav {
    display: block;
    color: white;
    box-shadow: 0 4px 6px -3px #9c9c9c;
    border-top: 0.1px solid #dddddd;
    border-bottom: 0.1px solid #dddddd;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.mainNav ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-left: -41px;
}

.mainNav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.mainNav ul li a{
    color: white;
    font-size: 20px;

}

/* end main navbar */
/* =========================================== */
/* start advetisement section */

.advertisement-banner {
    padding: 20px 0;
    background-attachment: fixed;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.advertisement-banner img {
    width: 100%;
}

/* end advertisment section */
/* =========================================== */
/* start slider section*/

.slideAndCatagory {
    padding: 10px 0;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    /* background-attachment: fixed; */
}

.catalog-menu-box {
    display: none;
    width: 20%;
    height: 100%;
}

.catalog-menu-wrap {}

.hide-menu-toggle {
    outline: none;
    display: inline-block;
    float: left;
    border: none;
    background: none;
    font-size: 22px;
}

.catalog-menu {}

.catalog-menu {}

.catalog-menu-title {}

.cat-nav-menu {}

.menu-item {
    list-style: square;
    color: #1dc1b1;
}

/* slider */
.sliderContainer {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}

.header-right {
    text-align: right;
    display: inline-block;
    float: right;
    padding-top: 22px;
    padding-bottom: 22px;
    ;
}

/* end slider section */

/* =========================================== */

/* start homepage E-commerce section */

.e-commerce-container {
    padding: 15px 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    text-align-last: center;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    /* background-attachment: fixed; */
}

.products-container {
    background: white;
    border-radius: 1px;
    box-shadow: 0 4px 6px -3px #9c9c9c;
    display: block;
}

.products {
    margin: 5px auto;
    transition: .3s box-shaow;
    display: inline-block;
    position: relative;
    border-radius: 3px;
}

.products:hover {
    box-shadow: inset 0 0 8px 0 #938f8f;
}

.products:hover > .add-to-cart {
    display: block;
    opacity: 1;
    color: #54BFB9;
}

.products:hover > .book-view {
    opacity: 1;
}

.products:hover:after {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.product-thumbnail-img {
    overflow: hidden;
    margin: 5px auto;
}

.product-thumbnail-img img {
    width: 100%;
}

.book-title {
    font-size: 19px;
}

.book-writer {
    font-size: 13px;
}

.book-previous-price {

    font-size: 18px;

    color: #686868;

    margin-right: 7px;
}

.book-present-price {

    font-size: 15px;

    color: black;

    font-weight: 500;
}

.book-view {
    display: block;
    opacity: 0;
    width: 100%;
    padding: 3px 5px;
    background: #54BFB9;
    color: white;
    z-index: 1111;
    position: absolute;
    bottom: 0;
    left: 0;
}

.book-view:hover {
    color: white !important;
    z-index: 1111;
}

.add-to-cart {
    position: absolute;
    background: #333;
    padding: 8px 10px;
    font-size: 18px;
    opacity: 0;
    text-align: center;
    transition: .4s opacity;
    top: 40%;
    left: 50%;
    color: #54BFB9;
    border-radius: 2px;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.add-to-cart:hover {
    color: #fff !important;
}

/* end homepage E-commerce section */
/* =========================================== */
/* start News Event Section */

.newsEventSection {
    background-size: cover;
    padding: 10px 0;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.newsEventContainer {
    padding: 12px 3px;
    margin: 10px auto;
    background: white;
}

.news-con {
    margin: 12px 0;
}

.news {
    background: #f1ffeb;
    padding: 16px;
    box-shadow: 0 0 9px 0 #d9cbcb;
    background: rgb(111, 252, 234);
    background: linear-gradient(90deg, rgb(179 219 248), rgb(255 255 255), rgb(140 232 252));
}

.news-thumbnail-img {
    width: 98%;
    margin: 3px auto;
}

.news-thumbnail-img img {
    width: 100%;
}

.news-time {

    text-align: center;

    color: #333;

    margin: 4px 0;
}

.news-title {

    font-size: 25px;

    text-align: center;
}

.news-description {}

/* end News Event Section */
/* =========================================== */
/* start footer top */

.footerTopContainer {
    width: 100%;
    padding: 10px 0;
    background-color: #74EBD5;
    background: linear-gradient(90deg, rgba(111, 252, 234, 1) 0%, rgba(237, 131, 208, 1) 45%, rgba(37, 207, 242, 1) 100%);
}

.footertopcontainer {
    background: white;
}

.siteAddress {}

.paymetmethod {}

.paymetmethod h4 {
    margin: 7px 0;
}

.paymetmethod img {
    margin-top: 10px;
    width: 30%;
}

.bottomLogo {}

.bottomLogo img {
    width: 60%;
    margin: auto;
    display: block;
}

.bottomaddress {}

.bottomaddress li {
    list-style: none;
    margin: 6px 0;
}

.bottomaddress li a {}

.googleMap {
    padding: 10px 3px;
}

.scialArea {
    padding: 10px 3px;
}

/* end footer top */
/* =========================================== */
/* start footer*/

.footerBottomContainer {
    width: 100%;
    padding: 12px;
    height: 53px;
    background: rgb(170 165 254);
    background: linear-gradient(90deg, rgb(60 149 153) 0%, rgb(2 148 192) 45%, rgb(44 113 127) 100%);
    color: white;
}

.footerBottom {}

/* end footer */
/* =========================================== */
